body{ 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: hsl(0, 0%, 95%);
    padding: 20px 0;   
    box-sizing: border-box;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 30px;
    max-width: 1000px;
    width: 100%;   
    overflow: hidden;
    box-sizing: border-box;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 50%);
}

button:active {
    background-color: hsl(0, 0%, 70%);

}

.operator-btn {
    background-color: hsl(35, 100%, 55%);

}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);

}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);

}

.calc-switcher {
    position: absolute;   
    bottom: 30px;        
    left: 50%;            
    transform: translateX(-50%); 
    text-align: center;
    z-index: 10;          
}

.switch-btn {
    background-color: #333;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.2s;
    display: inline-block; 
}

.switch-btn:hover {
    background-color: hsl(35, 100%, 55%);
}